body {
min-height: 100vh;
display: flex;
flex-flow: column nowrap;
width:100vw;
margin:0;
padding:0;
border:0;
font-family: Roboto,calibri;
}

a {
text-decoration: none;
}

button {
border-radius: 5px;
background-color: #FFC72C;
color:white;
border-width: 0;
padding: 8px 20px 8px 20px;
font-weight: bold;
height:36px;
}

.hero, .footer, .header {
background-color: #006747;
padding-left:15vw;
padding-right: 15vw;
display: flex;
flex-flow: row nowrap;
}

.header {
padding-top: 3vw;
padding-bottom: 3vw;
justify-content: space-between;
color:#e5e7eb;
}
.header_logo {
color:#f9faf8;
font-size: 24px;
font-weight: bolder;
}

.header_link {
padding-left: 2vw;
}
.hero {
padding:5vh 15vw 5vh 15vw;
}
.hero_content {
display:flex;
flex-flow: column nowrap;
align-items: flex-start;
padding-right: 5vw;
}

#hero_title {
color: #f9faf8;
font-size: 48px;
font-weight: bolder;
margin:0;
}

#hero_description, .header_link {
font-size: 18px;
color:#e5e7eb;
}

.hero_image {
padding: 0;
border:0;
width:35vw;
height: 30vh;
object-fit: cover;
}

.content_section {
display: flex;
flex-direction: column;
padding-left:15vw;
padding-right: 15vw;
align-items: center;
}
#content_section_title {
font-size: 36px;
font-weight: bolder;
color: #1f2937;
}
.cards {
display: flex;
flex-direction: row;
justify-content: space-between;
}
.card {
display: flex;
flex-direction: column;
align-items: center;
width:15vw;
padding:3vw;
}
.card_image {
border: 3px solid #FFC72C;
width: 15vw;
height: 15vw;
border-radius: 10px;
padding:0;
object-fit: cover;
}

.quote_section {
display: flex;
flex-direction: column;
padding: 80px 180px 80px 180px;
background-color: #e5e7eb;
}

#quote {
font-size: 36px;
font-weight: lighter;
font-style: italic;
color: #1f2937;
text-align: left;
margin:0;
}

#quote_attribution {
margin:0;
text-align: end;
font-weight: bold;
color: #1f2937;
}

.signup_section {
margin:60px 150px 60px 150px;
padding: 30px 80px 30px 80px;
background-color: #3882f6;
color: #f9faf8;
border-radius: 10px;
border: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.signup_text {
display: flex;
flex-direction: column;
}
#signup_title {
font-size: 24px;
font-weight: bolder;
margin:0;
}
#signup_message {
margin:0;
}
.signup_button {
border: 3px solid #e5e7eb;
}
.footer {
display: flex;
justify-content: center;
padding:0px 20px 0px 20px;
}
.footer>p {
color: #e5e7eb;
}